img{
    width: 100%;
}
.banner{
    height: 80vh;
}
.thumbnails{
    padding: 0;
}

.previous,
.next {
    position: absolute;
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    opacity: .6;
    left: 50%;
    right: 50%;
    transform: translatex(-50%);
    color: black;
    background-color: rgb(229, 229, 229);
    cursor: pointer;
    z-index: 5;
}
.arrow{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.previous{
    top: .2rem;
}

.next{
    bottom: .2rem;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.459);
    top: 0;
    left: 0;
}
.active .overlay{
    background-color: rgba(0, 0, 0, 0);
}

